[submodule "job-agg-backend"]
	path = job-agg-backend
	url = https://github.com/fchsieh/job-agg-backend
	branch = main
[submodule "job-agg-frontend"]
	path = job-agg-frontend
	url = https://github.com/fchsieh/job-agg-frontend
	branch = main
[submodule "job-agg-scraper"]
	path = job-agg-scraper
	url = https://github.com/fchsieh/job-agg-scraper
	branch = main
